
/** chooseus-section **/

.chooseus-section{
  position: relative;
  padding: 46px 0px;
}

.chooseus-section .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(50% + 180px);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content_block_three .content-box{
  position: relative;
  display: block;
  padding: 58px 65px 52px 70px;
  z-index: 1;
}

.content_block_three .content-box:before{
  position: absolute;
  content: '';
  background: #fff;
  width: 180px;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 15px 0px 0px 15px;
}

.content_block_three .content-box .inner-box{
  position: relative;
  padding: 0px 0px 0px 163px;
  max-width: 500px;
}

.content_block_three .content-box .inner-box .image-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 133px;
  border: 10px solid #FFFFFF;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
}

.content_block_three .content-box .inner-box .image-box img{
  width: 100%;
}

.content_block_three .content-box .inner-box p{
  display: block;
  margin-bottom: 12px;
}

.content_block_three .content-box .inner-box .text{
  position: relative;
  padding: 0px 0px 4px 82px;
}

.content_block_three .content-box .inner-box .text span{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 62px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  font-size: 40px;
  font-family: var(--title-font);
  color: #fff;
  font-weight: 700;
  background: var(--secondary-color);
}

.chooseus-section .pattern-layer{
  position: absolute;
  top: -30px;
  right: 0px;
  width: 541px;
  height: 664px;
  background-size: cover;
  background-repeat: no-repeat;
}

.chooseus-section.alternat-2 .bg-layer{
  width: 50%;
}

.chooseus-section.alternat-2 .pattern-layer{
  top: 0px;
}

.chooseus-section .big-text{
  position: absolute;
  left: 0px;
  top: 0px;
}












































